/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* BODY */
html,body{
  background-color: #fff;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif !important;
}

/* FONT */
.font-noto{
  font-family: 'Noto Sans', sans-serif;
}

.font-montserrat{
  font-family: 'Montserrat', sans-serif !important;
}

.font-poppins{
  font-family: 'Poppins', sans-serif;
}

/* TEXT */
.leading-11{
  line-height: 2.75rem !important;
}

.leading-12{
  line-height: 3rem !important;
}

.leading-13{
  line-height: 3.25rem !important;
}

.leading-14{
  line-height: 3.5rem !important;
}

.leading-15{
  line-height: 3.75rem !important;
}

.leading-16{
  line-height: 4rem !important;
}

.leading-17{
  line-height: 4.25rem !important;
}

.leading-18{
  line-height: 4.5rem !important;
}

.leading-19{
  line-height: 4.75rem !important;
}

.leading-20{
  line-height: 5rem !important;
}


/* LIST */
.list-columns-1{
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}

.list-columns-2{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.list-columns-3{
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

/* MAPS */
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/* SERVIÇOS */
.servicos{
  background-size: cover !important;
  background-position: center !important;
}

#servico-01{
  background: url('../images/servicos/drenagem.jpeg');
}

#servico-02{
  background: url('../images/servicos/face.jpeg');
}

#servico-03{
  background: url('../images/servicos/massagem.jpeg');
}

/* ACCORDION */
/* Tab content - closed */
.tab-content {
  max-height: 0;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  }
  /* :checked - resize to full height */
  .tab input:checked ~ .tab-content {
  max-height: 100vh;
  }
  /* Label formatting when open */
  .tab input:checked + label{
  /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
  font-size: 1rem; /*.text-xl*/
  padding: 1.25rem; /*.p-5*/
  border-left-width: 2px; /*.border-l-2*/
  border-color: #ff1d48; /*.border-indigo*/
  background-color: #f8fafc; /*.bg-gray-100 */
  color: #ff1d48; /*.text-indigo*/
  }
  /* Icon */
  .tab label::after {
  float:right;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  }
  /* Icon formatting - closed */
  .tab input[type=checkbox] + label::after {
  content: "+";
  font-weight:bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */
  border-color: #b8c2cc; /*.border-grey*/
  }
  .tab input[type=radio] + label::after {
  content: "\25BE";
  font-weight:bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */
  border-color: #b8c2cc; /*.border-grey*/
  }
  /* Icon formatting - open */
  .tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
  background-color: #ff1d48; /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
  }
  .tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
  background-color: #ff1d48; /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
  }

/*VIDEO YOUTUBE*/
.youtube-embed{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.youtube-embed iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ANIMATES */
.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
          animation-iteration-count: infinite;

}

 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


/* MOBILE */
@media only screen and (max-width: 600px) {

}